.footer{
  background-color: $primaryColor;
  padding: 150px 0 0 0;
  margin-top: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .footer-wrapper{
    padding-bottom: 60px;
    .logo{
      display: flex;
      justify-content: center;
      img{
        max-height: 320px;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .footer-bottom{
    padding: 15px 0;
    border-top: 1px solid #e2e2e255;
    .footer-icon{
      display: flex;
      align-items: center;
      a{
        margin-right: 10px;
        line-height: 0px;
        ion-icon{
          color: $whiteColor;
          font-size: 24px;
          &:hover{
            color: $secondaryColor;
          }
        }
      }
    }
    span{
      font-size: 14px;
      color: $whiteColor;
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      ion-icon{
        margin-right: 5px;
      }
    }
  }
}

